{% extends 'base.html' %} {% block title %}Sign Up{% endblock title %} {% block body %}
<div class="container">
  <div class="content">
    <img src="../static/assets/img/logo.png" alt="" class="movie-image" />
    <div class="text-sci">
      <h2>Welcome! <br /><span>To Movie-Verse</span></h2>
      <p>Join us and enjoy the Cinema World Anywhere</p>
    </div>
  </div>
  <div class="logreg-box">
    <div class="form-box register">
      <form action="/auth/signup/" method="POST">
        {% csrf_token %}
        <h2>Sign Up</h2>

        <div class="input-box">
          <span class="icon"><i class="bx bxs-envelope"></i></span>
          <input type="email" name="email" required />
          <label for="email">Email</label>
        </div>

        <div class="input-box">
          <span class="icon"><i class="bx bxs-lock-alt"></i></span>
          <input type="password" name="pass1" required />
          <label for="pass1">Password</label>
        </div>

        <div class="input-box">
          <span class="icon"><i class="bx bxs-lock-alt"></i></span>
          <input type="password" name="pass2" required />
          <label for="pass2">Confirm Password</label>
        </div>

        <button type="submit" class="btn" style="color: white">Sign Up</button>
        <div class="login-register">
          <p>Already have an account? <a href="/auth/login/" class="login-link">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var inputs = document.querySelectorAll(".input-box input");

    inputs.forEach(function (input) {
      input.addEventListener("input", function () {
        if (this.value !== "") {
          this.classList.add("not-empty");
        } else {
          this.classList.remove("not-empty");
        }
      });

      // Trigger input event to set initial state
      input.dispatchEvent(new Event("input"));
    });
  });
</script>

<style>
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }

  .input-box label {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    transition: 0.5s;
    pointer-events: none;
    color: white;
  }

  .input-box input:focus ~ label,
  .input-box input.not-empty ~ label {
    top: -5px;
    left: 10px;
    color: white;
    font-size: 12px;
  }

  .input-box input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    outline: none;
    color: white;
    background-color: transparent;
  }
</style>
{% endblock body %}
