<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Ticket</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/css/style2.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="#">MOVIE-VERSE</a>
            <a href="/">Home</a>
            <a href="/buy-ticket">Buy Ticket</a>
            <a href="/coming-soon">Coming Soon</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Location</a>
                <div class="dropdown-content">
                    <a href="/action">Bandung</a>
                    <a href="/drama">Jakarta</a>
                    <a href="/comedy">Surabaya</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">New User</a>
                <div class="dropdown-content">
                    <a href="/auth/logout/" class="dropdown-item">Log Out</a>
                </div>
            </div>            
            <form action="#" class="search-bar">
                <input type="text" placeholder="Search">
                <button type="submit"><i class='bx bx-search'></i></button>
            </form>
        </nav>
    </header>
    
    <div class="container">
        <h1 style="color: white;">Buy Ticket</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/assets/img/kingdom.jpeg" class="card-img-top" alt="Kingdom of The Planet of Apes">
                    <div class="card-body">
                        <h5 class="card-title">Kingdom of The Planet of Apes</h5>
                        <p class="card-text">Genre: Action</p>
                        <p class="card-text">Jam Tayang: May 21, 2024, 1:00 p.m.</p>
                        <p class="card-text">Tahun Terbit: 2024</p>
                        <p class="card-text">Durasi: 235 menit</p>
                        <a href="/choose-seat/1/" class="btn btn-primary">Choose Seat</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/assets/img/tarot.jpeg" class="card-img-top" alt="Tarot">
                    <div class="card-body">
                        <h5 class="card-title">Tarot</h5>
                        <p class="card-text">Genre: Horror</p>
                        <p class="card-text">Jam Tayang: May 21, 2024, 3:30 p.m.</p>
                        <p class="card-text">Tahun Terbit: 2024</p>
                        <p class="card-text">Durasi: 120 menit</p>
                        <a href="/choose-seat/2/" class="btn btn-primary">Choose Seat</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/assets/img/grandma.jpeg" class="card-img-top" alt="How To Make Millions Before Grandma Dies">
                    <div class="card-body">
                        <h5 class="card-title">How To Make Millions Before Grandma Dies</h5>
                        <p class="card-text">Genre: Drama</p>
                        <p class="card-text">Jam Tayang: May 21, 2024, 4:00 p.m.</p>
                        <p class="card-text">Tahun Terbit: 2024</p>
                        <p class="card-text">Durasi: 126 menit</p>
                        <a href="/choose-seat/3/" class="btn btn-primary">Choose Seat</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/assets/img/archi.jpeg" class="card-img-top" alt="The Architecture of Love">
                    <div class="card-body">
                        <h5 class="card-title">The Architecture of Love</h5>
                        <p class="card-text">Genre: Romance</p>
                        <p class="card-text">Jam Tayang: May 21, 2024, 11:30 a.m.</p>
                        <p class="card-text">Tahun Terbit: 2024</p>
                        <p class="card-text">Durasi: 200 menit</p>
                        <a href="/choose-seat/4/" class="btn btn-primary">Choose Seat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

