<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy Ticket</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="#">MOVIE-VERSE</a>
        <a href="/">Home</a>
        <a href="/buy-ticket">Buy Ticket</a>
        <a href="/about">About</a>
        <div class="dropdown">
          <a href="#" class="dropbtn">New User</a>
          <div class="dropdown-content">
            {% if not request.user.is_authenticated %}
            <a href="/auth/signup/" class="dropdown-item">Sign Up</a>
            <a href="/auth/login/" class="dropdown-item">Login</a>
            {% else %}
            <a href="/auth/logout/" class="dropdown-item">Log Out</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1 style="color: white">Buy Ticket</h1>
      <div class="row">
        {% for movie in movies %}
        <div class="col-md-4">
          <div class="card">
            <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }}" />
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <p class="card-text">Genre: {{ movie.genre }}</p>
              <p class="card-text">Jam Tayang: {{ movie.showtime }}</p>
              <p class="card-text">Tahun Terbit: {{ movie.year }}</p>
              <p class="card-text">Durasi: {{ movie.duration }} menit</p>
              <a href="{% url 'choose_seat' movie.id %}" class="btn btn-primary">Choose Seat</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
